In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Label Prep

In [17]:
demographics_raw = pd.read_sas('Data/Demographics/DEMO_I.XPT')
diabetes_raw = pd.read_sas('Data/Questionnaire/DIQ_I.XPT')

# Eliminate people who are under 17 next time
# demographics_raw = demographics_raw[demographics_raw.RIDAGEYR > 17]
# diabetes_raw = diabetes_raw[diabetes_raw.DIQ010 != 9].replace({'DIQ010': 3.0}, {'DIQ010': 2.0})

In [14]:
diabetes = diabetes_raw[diabetes_raw.DIQ010 != 9].replace({'DIQ010': 3.0}, {'DIQ010': 2.0})

2.0    8715
1.0     856
Name: DIQ010, dtype: int64

# Feature Prep

## Blood Pressure

In [18]:
# Blood pressure
blood_pressure_raw = pd.read_sas('Data/Examination/BPX_I.XPT')

In [62]:
# Systolic blood pressure
bp_sys = blood_pressure_raw[['BPXSY1', 'BPXSY2', 'BPXSY3', 'BPXSY4']]
bp_sys = bp_sys.fillna(0)
bp_sys = bp_sys.assign(bloodp_sys = lambda df: (df.BPXSY1 + df.BPXSY2 + df.BPXSY3) / 3)
bp_sys = bp_sys[bp_sys.bloodp_sys != 0]
bp_sys.head()

   BPXSY1  BPXSY2  BPXSY3  BPXSY4  bloodp_sys
0   128.0   124.0   116.0     0.0  122.666667
1   146.0   140.0   134.0     0.0  140.000000
2   138.0   132.0   136.0     0.0  135.333333
3   132.0   134.0   136.0     0.0  134.000000
4   100.0   114.0    98.0     0.0  104.000000